<footer class="footer">
	<div class="navcontainer">
		<nav>
			<a href="mailto:hello@danvallentyne.com" target="_blank">Email</a>
			<a href="http://www.linkedin.com/in/danvallentyne" target="_blank">LinkedIn</a>
			<a href="https://github.com/kidconcept/" target="_blank">GitHub</a>
			<a href="https://www.researchgate.net/profile/Dan-Vallentyne-2" target="_blank">ResearchGate</a>
		</nav>
	</div>
</footer>